/Public2Private1.asm
/Public2Private1.emftvm
/UpdateUpdate.asm
/UpdateUpdate.emftvm
/UpdateUpdate_Case1.asm
/UpdateUpdate_Case1.emftvm
/UpdateUpdate_Case2.asm
/UpdateUpdate_Case2.emftvm
/UpdateUpdate_Case3.asm
/UpdateUpdate_Case3.emftvm
/UpdateDelete_Case1.asm
/UpdateDelete_Case1.emftvm
/UpdateDelete_Case2.asm
/UpdateDelete_Case2.emftvm
/InsertForbid_Case1.asm
/InsertForbid_Case1.emftvm
/InsertForbid_Case2.asm
/InsertForbid_Case2.emftvm
/DeleteUse_Case1.asm
/DeleteUse_Case1.emftvm
/DeleteUpdate_Case1.asm
/DeleteUpdate_Case1.emftvm
/DeleteUpdate_Case2.asm
/DeleteUpdate_Case2.emftvm
